/* CSS CODE HERE */
/* GENERAL STYLESHEET */
body {
	font-family: "Open Sans";
  	color: rgb(0, 0, 0);
	margin: 0;
	padding: 0;
	background: url('../images/main-bg.png');
	/*background: url('../design.jpg');*/
	background-size: 100%;
}

.container {
	padding: 24px 100px 25px 100px;
}

.header-top{
	padding-bottom: 20px;
}

.logo {
  width: 228px;
  height: 50px;
  z-index: 76;
}

.div-right {
	float: right;
	padding-right: 10px;
}

.phone {
  font-size: 18px;
  text-transform: uppercase;
  text-align: right;
  z-index: 75;
}

.number {
	color: rgb(21, 100, 151);
}

.location {
  font-size: 12px;
  color: rgb(117, 117, 117);
  text-align: right;
  line-height: 1.6;
}

.nav-menu {
	font-size: 12px;
	font-family: "Open Sans Condensed";
	background-color: rgb(21, 100, 151);
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	list-style: none;
	display: flex;
	width: 100%;
	height: 40px;
	padding: 0;
	margin: 0;
	align-items: center;
}

.menu-item {
	width: 60px;
	text-align: center;
	padding: 12px 3px;
	cursor: pointer;
}

.menu-item:hover {
	width: 60px;
	text-align: center;
	padding: 12px 3px;
	background-color: rgb(14, 76, 115);
}

.banner {
    background: url('../images/banner-image.jpg');
    background-size: 100% 100%;
    height: 260px;
    margin-bottom: 25px;
}

.banner-text-container {
	background: url('../images/banner-text-bg.png');
	background-repeat: no-repeat;
    height: 260px;
    width: ;
}

.banner-text {
	height: 256px;
}

.service-name {
	font-size: 30px;
	font-family: "Open Sans Condensed";
	color: rgb(21, 100, 151);
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: 185px;
	left: 152px;
}

.banner-text {
  	font-size: 13px;
	color: rgb(255, 255, 255);
	line-height: 1.692;
	position: absolute;
	left: 152px;
	top: 235px;
	width: 327px;
	height: 67px;
}

.btn-learn-more {
	border-radius: 5px;
	background-color: rgb(21, 100, 151);
	position: absolute;
	left: 152px;
	top: 328px;
	width: 140px;
	height: 30px;
	z-index: 62;
	border: none;
}

.content {
	display: flex;
	justify-content: space-between;
}

.main {
	width: 62%;
}
.main-header {
	font-size: 24px;
	font-family: "Open Sans Condensed";
	color: rgb(21, 100, 151);
	font-weight: bold;
	text-transform: uppercase;
}

.main-text {
	font-size: 13px;
	color: rgb(51, 51, 51);
	line-height: 1.692;
}

.main-quote {
	background-color: rgb(233, 233, 233);
	border-left: 4px solid #5f5f5f;
	margin: 23px 26px;
}

.main-quote-text {
	font-size: 13px;
	color: rgb(51, 51, 51);
	font-style: italic;
	line-height: 1.692;
	padding: 12px 10px 0px 23px;
}

.main-quote-name {
	font-size: 13px;
	line-height: 1.2;
	text-align: right;
	padding: 5px 33px 20px 0px;
}

.secondary-header {
	font-size: 18px;
	font-family: "Open Sans Condensed";
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	padding: 0 0 16px 0;
}

.secondary-header-text {
	font-size: 13px;
	color: rgb(51, 51, 51);
	line-height: 1.692;
}

.list-item-container {
	padding: 22px 17px;
}

.side {
	width: 35%;
}

.appointment-container {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(153, 153, 153);
	background-color: rgb(220, 220, 220);
	padding: 20px;
}

.appointment-title {
	font-size: 24px;
	font-family: "Open Sans Condensed";
	color: rgb(21, 100, 151);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
}

.appointment-text {
	font-size: 13px;
	font-family: "Open Sans";
	line-height: 1.692;
	padding: 20px 0;
}

.row {
}

.appointment-input {
	border:  none;
	background-color: rgb(255, 255, 255);
	width: 100%;
	display: block;
	font-size: 13px;
	margin-bottom: 10px;
	padding: 12px;
	box-sizing: border-box;
}

.appointment-textarea {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(153, 153, 153);
	font-size: 13px;
	background-color: rgb(255, 255, 255);
	font-family: "Open Sans";
	width: 100%;
	height: 80px;
	display: block;
	padding: 12px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.btn-contact-us {
	border-radius: 5px;
	background-color: rgb(21, 100, 151);
	width: 140px;
	height: 30px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	border: none;
}

.footer {
	background-color: rgb(21, 100, 151);
}

.main-footer {
	padding: 24px 100px 25px 100px;
	display: flex;
	justify-content: space-between;
}

.footer-item {
	width: 25%;
}

.footer-item img {
	vertical-align: middle;
}

.footer-title {
	font-size: 12px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2.5;
}

.footer-list {
	list-style: none;
	font-size: 11px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.818;
	padding: 0;
}

.column-count-2 {	
    column-count: 2;
}

.height-112 {
	line-height: 112px;
}

.bottom-footer {
	background-color: rgb(17, 75, 113);
}

.copyright {
	font-size: 10px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 3;
	text-align: center;
	padding: 0 20px;
}


/* END GENERAL STYLESHEET */

/* START RESPONSIVE STYLESHEET */

@media screen and (max-width: 1000px) {
	.column-count-2 {	
	    column-count: 1;
	}
	.height-112 {
		line-height: 172px;
	}
}

@media screen and (max-width: 768px) {
	.main-footer {
		display: block;
		margin: auto;
	}
	.column-count-2 {	
	    column-count: 3;
	}
	.height-112 {
		line-height: 112px;
	}
	.footer-item {
		width: 100%;
	}
}

@media screen and (max-width: 718px) {
	.content {	
	    display: block;
	}
	.main {
		width: 100%;
		margin-bottom: 20px;
	}
	.side {
		width: 100%;
	}
}

@media screen and (max-width: 670px) {
	.logo {
		margin: auto;
		display: block;
		padding: 20px 0px;
	}
	.div-right {
		float: none;
		padding: 0;
	}
	.phone {
		text-align: center;
	}
	.location {
		text-align: center;
	}
	.service-name {
		top: 269px;
	}
	.banner-text {
		top: 319px;
		width: 200px;
	}
	.btn-learn-more {
		top: 412px;
	}
}

@media screen and (max-width: 500px) {
	.column-count-2 {	
	    column-count: 2;
	}
}

@media screen and (max-width: 400px) {
	.column-count-2 {	
	    column-count: 1;
	}
}

/* END RESPONSIVE STYLESHEET */


